/* google font */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* common style */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;

}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

img {
    height: 100%;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 0;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    /* need to fix */
    margin: 24px 0px 48px;

}

/* header */
.header {
    background-color: rgba(229, 84, 115, 0.1);
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    /* need to fix */
    margin: 0px 50px;
}

.header-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin: 32px 0px;
}

.header-img {
    width: 635px;
    height: 800px;
    margin-top: 50px;
}

/* feature flower */

.feature-flower {
    /* need to fix */
    margin: 170px 50px 0px;
}

/* featured flower item */
.flower-head {
    margin: 0px 420px;
}

.featured-flower-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.featured-flower-item1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    position: relative;
}

.flower-item-img1,
.flower-item-img3 {
    width: 310px;
    height: 428px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.featured-flower-item2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    position: relative;
}

.flower-item-img2 {
    width: 310px;
    height: 428px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featured-flower-item3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    position: relative;
}

.flower-item-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 128px;
}

/* service section */
.service {
    text-align: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    /* need to fix */
    margin: 0px 40px;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.service-img {
    width: 88px;
    height: 88px;
    margin-top: 86px;
}

.service-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 86px;
}

/* deals section */
.deals {
    margin: 128px 0px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
}

.deals-left {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 594px;
    margin-top: 230px;
    margin-bottom: 162px;
}

.deals-off {
    color: #E55473;
}

/* instagram section */
.instagram {
    margin-top: 0;
    margin-bottom: 128px;
}

.insta-head {
    margin: 0px 450px;
}

.insta-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.insta-item {
    width: 342px;
    height: 396px;
}